// 基礎標籤設定
* {
  box-sizing: border-box; 
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;      
}

body{
  margin: 0 auto;
  font-size: $body__font-size;
  background-color: $body__background-color;
  color: $body__color;
  font-family:  $body__font-family;
  line-height: $body__line-height;
  font-weight: bold;
  
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

a{
  text-decoration: none;
}

h1, .h1 {
  font-size: 64px;
  line-height: 96px;
}

h2, .h2 {
  font-size: 48px;  
  line-height: 72px;
}
h3, .h3 {
  font-size: 36px;  
  line-height: 54px;
}
h4, .h4 {
  font-size: 24px;  
  line-height: 36px;
}
@include media-breakpoint-md{
  h1, .h1{
    font-size: 48px;
    line-height: 72px;
  }
  h2, .h2 {
    font-size: 32px;  
    line-height: 48px;
  }
  h3, .h3, h4, .h4 {
    font-size: 20px;  
    line-height: 30px;
  }
}



@include media-breakpoint-sm{
  h1, .h1{
    font-size: 32px;
  }
  h2, .h2 {
    font-size: 24px;  
  }
  h3, .h3, h4, .h4 {
    font-size: 16px;  
  }
}

