// 通用類
// TODO: 1540如何正確推擠出去
.container {
  max-width: 1200px;
  margin: 0 auto;
  @include media-breakpoint-lg {
    max-width: 1296px;
    padding: 0 48px;
  }
  @include media-breakpoint-sm {
    max-width: 1224px;
    padding: 0 12px;
  }
  &__jointName {
    max-width: 1540px;
    margin-left: -170px;
    margin-right: -170px;
    margin: 0 auto;
  }
}

/* 背景與顏色 */
@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
/* text */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-italic {
  font-style: italic;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

/* 框線參考用 */
.border-white {
  border: 1px solid #fff;
}

.logo {
  // TODO: 檢查是否需要寬高，或由圖片撐開
  @include hidden-text(80px, 49px, url("../img/logo-new_工作區域 1.png"));
  @include media-breakpoint-sm {
    width: 48px;
    height: 30px;
    background-size: 48px 30px;
  }
}
.icon {
  width: 48px;
  height: 48px;
  @include media-breakpoint-md {
    width: 32px;
    height: 32px;
  }
}

.section {
  /* 區塊基礎設定 */
  padding: 64px 0px 80px 0px;
  @include media-breakpoint-md {
    padding: 40px 0;
  }
  @include media-breakpoint-sm {
    padding: 24px 0;
  }
  /* 區塊標題 */
  // 依照 spacing級距縮放，預設寫在標題上
  // &__title {
  //   margin-bottom: 60px;
  //   @include media-breakpoint-md {
  //     margin-bottom: 32px;
  //   }
  //   @include media-breakpoint-sm {
  //     margin-bottom: 16px;
  //   }
  // }
  /* inner預設設定 list、item、title、text、img */
  .inner {
    &__list {
      display: flex;
    }
    &__item {
      // TODO:會遇上需要 max-width: 100%;的情況，在下面寫會變成整個覆蓋無法修改，得重新設定
      /* 四欄 */
      max-width: 23.5%;
      
      @include media-breakpoint-md {
        /* 雙欄 */
        max-width: 48.2%;
       
      }
      @include media-breakpoint-sm {
        /* 單欄 */
        // max-width: 93.8%;
        max-width: 100%;
      }

    }
  }

  /* 各功能區塊設定 */
  /* 專業服務 */
  &__service {
    @include media-breakpoint-sm {
      padding-bottom: 56px;
    }
    /* 內容客製化 */
    .inner {
      &__list {
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-breakpoint-sm {
          justify-content: center;
        }
      }
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 37px;
        @include media-breakpoint-md {
          padding: 0 50px;
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 1;
            margin-bottom: 50px;
          }
          &:nth-child(3) {
            order: 2;
            margin-bottom: 50px;
          }
          &:nth-child(4) {
            order: 4;
          }
        }
        @include media-breakpoint-sm {
          padding: 0 64px;
        }
      }
      &__img {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
      }
    }
  }
  /* 經典鏡框 */
  &__classic {
    .inner {
      &__list {
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-breakpoint-sm {
          justify-content: center;
        }
      }
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        @include media-breakpoint-md {
          max-width: 100%;
          margin-bottom: 8px;
        }
        @include media-breakpoint-sm {
          justify-content: center;
          height: 134px;
          color: white;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &:nth-child(1) {
          @include media-breakpoint-sm {
            background-image: url("../img/8.png");
          }
        }
        &:nth-child(2) {
          flex-direction: row-reverse;
          .inner__text{
            justify-content: flex-end;
          }
          @include media-breakpoint-md {
            flex-direction: row;
            .inner__text{
              justify-content: center;
            }
          }
          @include media-breakpoint-sm {
            background-image: url("../img/15 2.png");
          }
        }
        &:nth-child(3) {
          @include media-breakpoint-sm {
            background-image: url("../img/28.png");
          }
        }
      }
      &__img {
        width: 60%;
        @include media-breakpoint-sm {
          display: none;
        }
      }
      &__text {
        display: flex;
        align-items: center;
        font-weight: bolder;
        width: 40%;
        @include media-breakpoint-lg {
          width: 34%;
          justify-content: center;
          font-size: 28px;
          line-height: 42px;
        }
      }
    }
  }

  /* 聯名眼鏡 */
  &__jointName {
    // background-image: url("../img/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png");
    // background-size: cover;
    // padding-bottom: 479px;
    // transform: translateY(-399px);
    .inner {
      &__mixed {
        display: flex;
        margin-bottom: 60px;
      }
      &__more {
        position: relative;
        width: 90%;
        padding: 24px 0 24px 32px;
        font-size: 72px;
        line-height: 1.5;
        background-image: url("../img/5.png");
        background-position: 45%;
        background-repeat: no-repeat;
        &--hover {
          margin-left: 8px;
          transition: 0.5s;
        }
        &::before {
          position: absolute;
          content: "MORE";
          top: 24px;
          left: 88px;
          transition: 0.3s;
          z-index: 9;
        }
        &::after {
          position: absolute;
          content: "MORE";
          top: 24px;
          left: 88px;
          transition: 0.65s;
        }
        &:hover {
          &::before {
            font-size: 64px;
            opacity: 0.7;
            transform: translateY(-50px);
          }
          &::after {
            font-size: 48px;
            opacity: 0.4;
            transform: translateY(-80px);
          }
          .inner__more--hover {
            transform: translateX(25px);
          }
        }
        &__text {
          transform: translateX(10%);
          padding: 0 67px 0px 24px;
          background-color: #fff;
        }
      }
      &__list {
        justify-content: space-between;
        @include media-breakpoint-sm {
          flex-direction: column;
          align-items: center;
        }
      }
      &__item {
        /* 若使用 df去做置中，圖片+文字會造成高度不正確 */
        /* 而圖片會自動撐開高度 */
        /* 所以讓文字以定位方式置中，就無需使用 flex*/
        // max-width: 100%;
        font-size: 72px;
        line-height: 1.5;
        position: relative;
        max-width: 100%;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: rgba(white, $alpha: 0.5);
        }
        // &:nth-child(1) {
        //   margin-right: 30px;
        //   @include media-breakpoint-md {
        //     margin-right: 24px;
        //   }
        //   @include media-breakpoint-sm {
        //     margin-right: 0px;
        //     margin-bottom: 20px;
        //   }
        // }
      }
      &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        @include media-breakpoint-lg {
          font-size: 48px;
          line-height: 43px;
        }
        @include media-breakpoint-md {
          font-size: 32px;
          line-height: 43px;
        }
      }
    }
  }
  /* 顧客推薦 */
  &__recommend {
    .inner {
      &__list {
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-breakpoint-sm {
          justify-content: center;
        }
      }
    }
  }

  /* 聯絡我們 */
  &__contactUs {
    padding-bottom: 92px;
    
    .inner{
      max-width: 66%;
      margin: 0 auto;
      &__text{
        margin-bottom: 20px;
      }
      .form{
        margin-bottom: 42px;
        &__input{
          padding: 14px 16px;
        }
      }
      .btn{
        margin-top: 42px;
        padding: 16px 58px;
      }
    }
  }
}

.footer{
  font-weight: normal;
  padding-bottom: 24px;
  .navbar{
    padding : 32px 0; 
    &__list{
      width: 486px;
    }
  }
}

.custom__bg{
  background-image: url("../img/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png");
  background-size: cover;
  background-position-y: 200px;
  position: relative;
  z-index: 0;
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 306px;
      background:white;
      bottom:0;
      left: 0;
      z-index: -1;
    }
}