// 通用類
.container {
  max-width: 1200px;
  margin: 0 auto;
  @include media-breakpoint-md {
    max-width: 1296px;
    padding: 0 48px;
  }
  @include media-breakpoint-sm {
    max-width: 1224px;
    padding: 0 12px;
  }
  &__jointName {
    max-width: 1540px;
    margin-left: -170px;
    margin-right: -170px;
    margin: 0 auto;
  }
}

@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-shrink-1 {
  flex-grow: 1;
}
.flex-shrink-2 {
  flex-grow: 2;
}

.flex-direction--column {
  flex-direction: column;
}
.justify-content--between {
  justify-content: space-between;
}
.justify-content--end {
  justify-content: flex-end;
}
.justify-content--center {
  justify-content: center;
}
.align-items--start {
  align-items: flex-start;
}
.align-items--center {
  align-items: center;
}
.align-items--end {
  align-items: flex-end;
}
.align-items--stretch {
  align-items: stretch;
}

.mr-1 {
  margin-right: 0.5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mx-auto {
  margin: 0 auto;
}
.font-italic {
  font-style: italic;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.col-3 {
  width: 23%;
}

.col-6 {
  width: 46%;
}

.border-white {
  border: 1px solid #fff;
}

@include media-breakpoint-md {
  .col-md-3 {
    max-width: 23.5%;
  }
  .col-md-6 {
    max-width: 47%;
  }
}
@include media-breakpoint-sm {
  .col-sm-100 {
    max-width: 100%;
  }
}

.logo {
  // TODO: 檢查是否需要寬高，或由圖片撐開
  @include hidden-text(80px, 49px, url("../img/logo-new_工作區域 1.png"));
  @include media-breakpoint-sm {
    width: 48px;
    height: 30px;
    background-size: 48px 30px;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 88px;
  @include media-breakpoint-md {
    padding: 30px 48px;
  }
  @include media-breakpoint-sm {
    padding: 10px 0px;
    justify-content: center;
    position: relative;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    width: 512px;
    @include media-breakpoint-md {
      width: 440px;
    }
    @include media-breakpoint-sm {
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      top: 100%;
      left: 0;
      transition: all 0.3s;
      z-index: 99;
    }
    &.active {
      max-height: 248px;
    }
  }
  &__link {
    color: white;
    display: inline-block;
    @include media-breakpoint-sm {
      background-color: map-get($color, secondary);
      padding: 16px 0;
      width: 100%;
      text-align: center;
      border: 1px solid white;
      &:hover {
        background-color: #8f0400;
      }
    }
  }
  &__toggler {
    display: none;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 0;
    border: 0;
    color: white;
    background-color: transparent;
    @include media-breakpoint-sm {
      display: block;
      position: absolute;
      left: 16px;
    }
  }
}

.banner {
  height: 840px;
  background-image: url("../img/68.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // @include media-breakpoint-lg {
  //   padding-right: 48px;
  // }
  @include media-breakpoint-sm {
    // padding-right: 12px;
    height: 394px;
  }
}

.section {
  /* 區塊設定 */
  padding: 64px 0px 80px 0px;
  @include media-breakpoint-md {
    padding: 40px 0;
  }
  @include media-breakpoint-sm {
    padding: 24px 0;
  }
  /* 區塊標題 */
  &__title {
    margin-bottom: 60px;
    @include media-breakpoint-md {
      margin-bottom: 32px;
    }
    @include media-breakpoint-sm {
      margin-bottom: 16px;
    }
  }
  /* ul>li 結構最後一個 li 不往下推擠 */
  .inner__list li:last-child {
    margin-bottom: 0;
  }

  /* 各功能區塊設定 */
  /* 專業服務 */
  &__service {
    @include media-breakpoint-sm {
      padding-bottom: 56px;
    }
    .inner {
      &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-breakpoint-sm {
          justify-content: center;
        }
        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include media-breakpoint-md {
            &:nth-child(1) {
              order: 3;
            }
            &:nth-child(2) {
              order: 1;
              margin-bottom: 50px;
            }
            &:nth-child(3) {
              order: 2;
              margin-bottom: 50px;
            }
            &:nth-child(4) {
              order: 4;
            }
          }
          @include media-breakpoint-sm {
            padding: 0 64px;
            margin-bottom: 28px;
          }
        }
      }
      &__img {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
      }
    }
  }
  /* 經典鏡框 */
  &__classic {
    .inner {
      &__list {
        &__item {
          /* 調整文字位置 */
          display: flex;
          justify-content: flex-end;
          align-items: center;

          /* 調整圖片大小位置 */
          height: 320px;
          margin-bottom: 32px;
          background-size: contain;
          background-repeat: no-repeat;
          @include media-breakpoint-lg {
            height: 250px;
          }
          @include media-breakpoint-md {
            height: 168px;
            margin-bottom: 8px;
          }
          @include media-breakpoint-sm {
            height: 134px;
            color: white;
            background-position: center;
            margin-bottom: 8px;
            justify-content: center;
          }
          &:nth-child(1) {
            @include media-breakpoint-sm {
              background-image: url("../img/8.png");
            }
          }
          &:nth-child(2) {
            flex-direction: row-reverse;
            @include media-breakpoint-md {
              flex-direction: row;
            }
            @include media-breakpoint-sm {
              background-image: url("../img/15 2.png");
            }
          }
          &:nth-child(3) {
            @include media-breakpoint-sm {
              background-image: url("../img/28.png");
            }
          }
          &__text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: bolder;
            padding-left: 24px;
            width: 40%;

            @include media-breakpoint-lg {
              width: 34%;
              justify-content: center;
              font-size: 28px;
              line-height: 42px;
            }
          }
        }
      }
      &__icon {
        margin-right: 8px;
        width: 48px;
        height: 48px;
        @include media-breakpoint-md {
          width: 32px;
          height: 32px;
        }
      }
      &__img {
        width: 60%;
        @include media-breakpoint-sm {
          display: none;
        }
      }
    }
  }

  /* 聯名眼鏡 */
  &__jointName {
    background-image: url("../img/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png");
    background-size: cover;
    padding-bottom: 479px;
    .inner {
      &__mixed {
        display: flex;
        margin-bottom: 60px;
      }
      &__more {
        position: relative;
        width: 90%;
        padding: 24px 0 24px 32px;
        font-size: 72px;
        line-height: 1.5;
        background-image: url("../img/5.png");
        background-position: 45%;
        background-repeat: no-repeat;
        &--hover {
          margin-left: 8px;
          transition: 0.5s;
        }
        &::before {
          position: absolute;
          content: "MORE";
          top: 24px;
          left: 88px;
          transition: 0.5s;
          z-index: 9;
        }
        &::after {
          position: absolute;
          content: "MORE";
          top: 24px;
          left: 88px;
          transition: 0.3s;
        }
        &:hover {
          &::before {
            font-size: 64px;
            opacity: 0.7;
            transform: translateY(-50px);
          }
          &::after {
            font-size: 48px;
            opacity: 0.4;
            transform: translateY(-80px);
          }
          .inner__more__link--hover {
            transform: translateX(25px);
          }
        }
        &__text {
          transform: translateX(10%);
          padding: 0 67px 0px 24px;
          background-color: #fff;
        }
      }
      &__brand {
        display: flex;
        justify-content: center;
        @include media-breakpoint-sm {
          flex-direction: column;
          align-items: center;
        }
        &__item {
          /* 若使用 df去做置中，會造成高度不正確 */
          /* 而圖片會自動撐開高度 */
          /* 所以讓文字以定位方式置中，就無需使用 flex*/
          width: 48%;
          font-size: 72px;
          line-height: 108px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(white, $alpha: 0.5);
          }
          @include media-breakpoint-sm {
            width: 100%;
          }
          &:nth-child(1) {
            margin-right: 30px;
            @include media-breakpoint-md {
              margin-right: 24px;
            }
            @include media-breakpoint-sm {
              margin-right: 0px;
              margin-bottom: 20px;
            }
          }
        }
        &__text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          @include media-breakpoint-lg {
            font-size: 48px;
            line-height: 43px;
          }
          @include media-breakpoint-md {
            font-size: 32px;
            line-height: 43px;
          }
        }
      }
    }
  }
  /* 顧客推薦 */
  &__recommend {
    transform: translateY(-399px);
  }

  /* 聯絡我們 */
  // &__contactUs {

  // }
}

// .footer{

// }
