// 通用類
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction--column {
  flex-direction: column;
}
.justify-content--between {
  justify-content: space-between;
}
.justify-content--center {
  justify-content: center;
}
.align-items--center {
  align-items: center;
}
.mx-auto {
  margin: 0 auto;
}
.font-italic {
  font-style: italic;
}
.logo{
  @include hidden-text(80px,49px,url("../img/logo-new_工作區域 1.png"));
  @include media-breakpoint-sm{
    width: 48px;
    height: 30px;
    background-size: 48px 30px;
  }
}

.col-3{
  width: 23.5%;
}
.col-6{
  width: 42%;
}
@include media-breakpoint-md{
  .col-md-3{
    width: 23.5%;
  }
  .col-md-6{
    width: 42%;
  }
}
@include media-breakpoint-sm{
  .col-sm-100{
    width: 100%;
  }
}



.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:30px 88px;
  @include media-breakpoint-md{
    padding:30px 48px;
  }
  @include media-breakpoint-sm{
    padding:10px 0px;
    justify-content: center;
    position: relative;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    width: 512px;
    @include media-breakpoint-sm{
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      max-height:0px;
      overflow: hidden;
      top:100%;
      left: 0;
      transition:all 0.3s;
      z-index: 99;
    }
    &.active{
      max-height:248px;
    }
  }
  &__link {
    color: white;
    display: inline-block;
    @include media-breakpoint-sm{
      background-color:map-get($color, secondary );
      padding: 16px 0;
      width: 100%;
      text-align: center;
      border: 1px solid white;
      &:hover{
        background-color:   #8f0400;
      }
    }
  }
  &__toggler{
    display: none;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 0;
    border: 0;
    color: white;
    background-color:transparent;
    @include media-breakpoint-sm{
      display: block;
      position: absolute;
      left:16px ;
    }
  }
}


.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 840px;
  // padding-right:360px;
  background-image: url("../img/68.png");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  padding-right:48px;
  // @include media-breakpoint-lg{
  //   padding-right:48px;
  // }
  @include media-breakpoint-sm{
    padding-right:12px;
    height: 394px;
  }
  
}

.section {
  padding: 64px 48px 80px  48px;
  @include media-breakpoint-md{
    padding-top: 40px;
  }
  @include media-breakpoint-sm{
    padding-top: 32px ;
    padding-left: 12px;
    padding-right: 12px;
  }
  &__title{
    margin-bottom: 60px;
  }
  &__service{
    .inner{
      &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-breakpoint-sm{
          justify-content: center;
        
        }
        &__item{
          display: flex;
          flex-direction: column;
          align-items: center;
          @include media-breakpoint-md{
            &:nth-child(1){
              order: 3;
            }
            &:nth-child(2){
              order: 1;
              margin-bottom: 50px;
            }
            &:nth-child(3){
              order: 2;
              margin-bottom: 50px;
            }
            &:nth-child(4){
              order: 4;
            }
          }
          @include media-breakpoint-sm{
            width: 224px;
            margin-bottom: 28px;
          }
        }
      }
      &__img{
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
      }
    }
  }
  
  &__classic {
    
  }
  &__jointName {
    
  }
  &__recommend {
    
  }
  &__contactUs {
    
  }
}


// .footer{
 
// }



