



$columns:12;
$column-spacing:24px;


/* 主容器 */
/* 主容器容器寬度 = 內容寬度 + 欄位間距 */
/* 1920px 意義為滿版 ; 設計稿內容寬度為 1200px ; 欄位間距為 24px */
.container {
  max-width: 1200px+$column-spacing*2;
  padding: 0 $column-spacing;
  margin: 0 auto;
  
  @include media-breakpoint-md {
    max-width: 1200px+$column-spacing*4;
    padding: 0 $column-spacing*4;
  }
  @include media-breakpoint-sm {
    padding: 0 $column-spacing/2;
  }
  
}
.jointContainer {
  max-width: 1540px;
  margin: 0 auto;
  @include media-breakpoint-lg {
    max-width:  1200px+$column-spacing*4;
    padding: 0 $column-spacing*2;
  }
  @include media-breakpoint-sm {
    padding: 0 $column-spacing/2;
  }
}

/* 子容器 */

// row 排列子容器
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left:  -$column-spacing/2;
  margin-right: -$column-spacing/2;
  @include media-breakpoint-md {
    margin-left:  -$column-spacing*2;
    margin-right: -$column-spacing*2;
  }
  @include media-breakpoint-sm{
    margin-left:  -$column-spacing/2;
    margin-right: -$column-spacing/2;
  }
  
}

// 每一欄 1/12 * 100%
// 間隔寬度 24px -> padding 0 12px;
@for $i from 1 through $columns{
  .col-#{$i}{
    /* 內容需要100%才能佔滿，內容可能不足以撐開 */
    width: 100%;
    padding: 0 $column-spacing/2;
    /* 取消 flex預設 */
    flex-basis: 0;
    flex-grow: 1;
    
    /* 佔 $i 欄寬度 */
    max-width:( $i / $columns)* 100%;
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 0 0 ($i/ $columns )* 100%;
    
  }
}
@include media-breakpoint-lg{
  @for $i from 1 through $columns{
    .col-lg-#{$i}{
      
      width: 100%;
      padding: 0 $column-spacing/2;
      
      flex-basis: 0;
      flex-grow: 1;
  
      max-width:( $i / $columns)* 100%;
      flex: 0 0 ($i/ $columns )* 100%;
    }

  }
}
@include media-breakpoint-md{
  @for $i from 1 through $columns{
    .col-md-#{$i}{
      
      width: 100%;
      padding: 0 $column-spacing/2;
      
      flex-basis: 0;
      flex-grow: 1;
  
      max-width:( $i / $columns)* 100%;
      flex: 0 0 ($i/ $columns )* 100%;
    }

  }
}
@include media-breakpoint-sm{
  @for $i from 1 through $columns{
    
    .col-sm-#{$i}{
      
      width: 100%;
      padding: 0 $column-spacing/2;
      
      flex-basis: 0;
      flex-grow: 1;
  
      max-width:( $i / $columns)* 100%;
      flex: 0 0 ($i/ $columns )* 100%;
    }
    
  }
}
.no-gutters{
  margin-right: 0;
  margin-left: 0 ;
  > [class*="col-"]{
    padding-left: 0 ;
		padding-right: 0 ;
  }
	
}

	


// 未使用格線系統時，比例是依照 "列寬"加上"間隔寬度"算出來，在 flex下jcsb時，多欄分開
// .col-md-6 {
//   @include media-breakpoint-md {
//     max-width: 48.2%;
//   }
//   @include media-breakpoint-sm {
//     max-width: 100%;
//   }
// }
// 四欄，外容器之23.5%寬
// .col-3 {
//   max-width: 23.5%;
// }
// 兩欄，外容器之48%寬且永遠保持48%
// .col-6 {
//   max-width: 48%;
// }

// 單欄或滿寬
// .col-12 {
//   max-width: 100%;
// }