/* spacing */
.px-3{
  padding: 0 1.5rem;
}
.py-4{
  padding: 2rem 0;
}

.mx-auto {
  margin: 0 auto;
}
.my-auto {
  margin: auto 0;
}

@for $i from 1 through 5{

  .pt-#{$i}{
    padding-top:0.5rem*$i;
  }
  .pr-#{$i}{
    padding-right:0.5rem*$i;
  }
  .pb-#{$i}{
    padding-bottom:0.5rem*$i;
  }
  .pl-#{$i}{
    padding-left:0.5rem*$i;
  }
  .mt-#{$i}{
    margin-top:0.5rem*$i;
  }
  .mr-#{$i}{
    margin-right:0.5rem*$i;
  }
  .mb-#{$i}{
    margin-bottom:0.5rem*$i;
  }
  .ml-#{$i}{
    margin-left:0.5rem*$i;
  }
}
// TODO:原本的五是3.75rem;
// 找出五的去修改


@include media-breakpoint-md{
  .mx-md-0{
    margin-left: 0;
    margin-right: 0;
  }
  .mb-sm-0{
    margin-bottom: 0;
  }
  @for $i from 1 through 5{
    .pt-md-#{$i}{
      padding-top:0.5rem*$i;
    }
    .pr-md-#{$i}{
      padding-right:0.5rem*$i;
    }
    .pb-md-#{$i}{
      padding-bottom:0.5rem*$i;
    }
    .pl-md-#{$i}{
      padding-left:0.5rem*$i;
    }
    .mt-md-#{$i}{
      margin-top:0.5rem*$i;
    }
    .mr-md-#{$i}{
      margin-right:0.5rem*$i;
    }
    .mb-md-#{$i}{
      margin-bottom:0.5rem*$i;
    }
    .ml-md-#{$i}{
      margin-left:0.5rem*$i;
    }
  }
  
}
@include media-breakpoint-sm{
  .py-sm-3{
    padding:0 1.5rem;
  }
  .px-sm-0{
    padding-right:0;
    padding-left:0;
  }
  .mx-sm-0{
    margin-left: 0;
    margin-right: 0;
  }
  
  @for $i from 1 through 5{
    .pt-sm-#{$i}{
      padding-top:0.5rem*$i;
    }
    .pr-sm-#{$i}{
      padding-right:0.5rem*$i;
    }
    .pb-sm-#{$i}{
      padding-bottom:0.5rem*$i;
    }
    .pl-sm-#{$i}{
      padding-left:0.5rem*$i;
    }
    .mt-sm-#{$i}{
      margin-top:0.5rem*$i;
    }
    .mr-sm-#{$i}{
      margin-right:0.5rem*$i;
    }
    .mb-sm-#{$i}{
      margin-bottom:0.5rem*$i;
    }
    .ml-sm-#{$i}{
      margin-left:0.5rem*$i;
    }
  }
  
  
  
}

